sentence-transformers==2.2.2
langchain
flask
pypdf  #to extract from pdf
python-dotenv
pinecone[grps]
langchain-pinecone
langchain_community
langchain_experimental
langchain-google-genai==0.0.6
google-generativeai==0.3.2
-e . #To make it as local package
sentence-transformers